<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="GameSettings" type="GetTheMilk.Utils.GetTheMilkConfiguration,GetTheMilk" allowDefinition="Everywhere"/>
  </configSections>
  <GameSettings GameDataDirectory="Content\GameData" SaveDirectory="Saved"/>
</configuration>